<head>
  <title>Myopencity</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css"></link>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="fragment" content="!">
</head>
