/*
This file contains the global SCSS variables, like colors,
global sizes, media queries...
*/

// ---------- Colors
$global_turquoise: #1abc9c;
$global_emerald: #2ecc71;
$global_green_sea: #16a085;
$global_nephritis: #27ae60;
$global_peter_blue: #3498db;
$global_belize_hole: #2980b9;
$global_turquoise: #1abc9c;
$global_turquoise: #1abc9c;
