/*
  This file contains all helpers and global SCSS declarations
*/

/* ---------- HELPERS */
.center-align{
  text-align: center !important;
}

.right-align{
  text-align: right !important;
}

.left-align{
  text-align: left !important;
}

.justiy-align{
  text-align: justiy !important;
}

.inline-block{
  display: inline-block !important;
}

/* -------- MAIN CLASSES */
.main-container{
  min-height: 100vh;
  height: 100vh;
}
